.sign__label:first-of-type {
  padding-bottom: 26px;
}

.sign__label {
  padding-bottom: 216px;
  position: relative;
}

@media screen and (max-width: 420px) {
  .sign__label {
    padding-bottom: 173px;
  }
}