.header__menu-button {
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;

  margin-top: 4px;
  width: 24px;
  height: 21px;
  background-image: url(../../../images/burger-menu-icon.svg);

}

.header__menu-button:hover {
  opacity: .6;
}